.App {
  text-align: center;
}

.App-logo {
  animation: App-logo-spin infinite 40s linear;
  height: 80px;
}

.App-header {
  background-color: #888;
  height: 220px;
  padding: 10px;
  color: white;
}

.Box-header {
  background-color: #888;
  color: white;
	border-radius: 25px;
  margin-bottom:10px;
}

.App-intro {
  font-size: large;
}

.Dash-box {
	border-radius: 25px;
	border: 2px solid #888888; 
	width: 50%;
	font-size: 32px;
	margin: auto;
  margin-top:20px;
  margin-bottom:20px;
	height: 100px;
}

.Header-button {
  background-color: #FFFFFF;
	border-radius: 5px;
	border: 2px solid #FFFFFF;
	width: 20%;
	font-size: 22px;
	font-weight: bold;
	padding: 5px 32px;
	margin: 4px 8px;
}

.Nav-button {
	border: none;
	background-color: transparent;
	text-align: center;
	padding: 0px 8px;
	font-size: 32px;
	font-weight: bold;
}

.Dash-table {
}

@keyframes App-logo-spin {
  from { transform: rotate(0deg); }
  to { transform: rotate(360deg); }
}
